.type-effectiveness-container {
  width: 100%;
  margin: 0 auto 2rem auto;
  background-color: #313b4a;
  border-radius: 18px;
  color: #0d2035;
  padding-bottom: 1rem;

  .header {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: #0d2035;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }

  .damage-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .damage {
      background-color: #e4e4e7;
      width: 40%;
      margin: 1rem 0;
      //   border-top-right-radius: 18px;
      //   border-top-left-radius: 18px;
      border-radius: 18px;
      padding-bottom: 1rem;

      .damage-title {
        border-top-right-radius: 18px;
        border-top-left-radius: 18px;
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 1rem;
        color: white;
        font-weight: bold;
      }

      .type {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0.5rem auto;
        width: 80%;

        .icon {
          padding: 5px;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .name {
          width: 100px;
          height: fit-content;
          padding: 0.35rem 0;
          text-align: center;
          color: white;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}
