@import "./components/navigation/Header.scss";
@import "./components/pages/Home.scss";
@import "./components/PokemonCard.scss";
@import "./components/pages//AllPokemon.scss";
@import "./components/pages/Pokemon.scss";
@import "./components/PokemonHeader.scss";
@import "./components/PokemonType.scss";
@import "./components/Moves.scss";
@import "./components/TypeEffectiveness.scss";

html {
  margin: 0;
  height: 100%;
  background-color: #475569;
}

#root {
  margin: 0;
  height: 100%;
}

.App {
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
