.pokemon-page-wrapper {
  //   border: 1px solid white;
  border-radius: 5px;
  width: 90%;
  margin: 2.8rem auto 0 auto;
  //   background-color: #64748b;
  //   background-color: #334155;
  background-color: #475569;
  padding: 2rem 0;

  .top-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e4e4e7;
    margin-bottom: 2rem;
  }

  .info-container {
    width: 100%;
    display: flex;

    .left-container {
      //   border: 1px solid black;
      width: 50%;
    }

    .right-container {
      //   border: 1px solid black;
      width: 50%;
    }
  }
}
